extends layout

block content
  h1 Answers
  if error
    p.error #{error}
  else if answers && answers.length
    table(border="1")
      thead
        tr
          th AnswerID
          th RequestID
          th AnswerText
          th PostDate
          th NumOfUpvote
          th Actions
      tbody
        each answer in answers
          tr
            td #{answer.AnswerID}
            td #{answer.RequestID}
            td #{answer.AnswerText}
            td #{answer.PostDate}
            td #{answer.NumOfUpvote}
            td
              form(action="/answers/upvote/" + answer.AnswerID, method="post")
                button(type="submit") Upvote
  else
    p No answers available.