extends layout

block content
  h1 Support Requests

  if error
    p.error #{error}
  else if posts && posts.length
    each post in posts
      .post
        .post-header
          h2 #{post.Title}
          p.small Posted by User #{post.UserID} on #{post.PostDate}
        .post-body
          p #{post.Description}

        if post.answers.length
          .comments
            h3 Answers
            each answer in post.answers
              .comment
                p #{answer.AnswerText}
                p.small Posted on #{answer.PostDate}, Upvotes: #{answer.NumOfUpvote}
                form(action="/answers/upvote/" + answer.AnswerID, method="post")
                  button(type="submit") Upvote
        else
          p.no-comments No answers yet.
  else
    p No support requests available.