extends layout

block content
  if pageTitle
    h1 #{pageTitle}
  else if filterUserName
    h1
      img.profile-img(src="/images/" + filterUserPic, alt=filterUserName)
      |  Support Requests by #{filterUserName}
  else
    h1 Support Requests

  form#searchForm(method="get", action="/supportrequests")
    input#searchInput(type="text", name="search", placeholder="Search support requests...", value=(search || ""))

  if filterUserName || pageTitle
    a.back-link(href="/supportrequests") ← Back to All Support Requests

  if error
    p.error #{error}
  else if posts && posts.length
    each post in posts
      .post-box
        .post-header
          h2 #{post.Title}
          p.small Posted by User #{post.UserID} on #{post.PostDate}
          if post.CategoryName
            p.small Category: #{post.CategoryName}
        .post-body
          p #{post.Description}

        if post.answers.length
          .answer-section
            h3 Answers
            each answer in post.answers
              .answer-box
                p #{answer.AnswerText}
                p.small Posted on #{answer.PostDate}, Upvotes: #{answer.NumOfUpvote}
                form(action="/answers/upvote/" + answer.AnswerID, method="post")
                  button(type="submit") Upvote
        else
          p.no-comments No answers yet.
  else
    p No support requests available.

  script.
    liveFilter("searchInput", "post-box");
