extends layout

block content
  h1 Users

  if error
    p.error #{error}
  else if users && users.length
    .user-grid
      each user in users
        .user-card
          img.profile-img(src=(user.ProfilePic ? "/images/" + user.ProfilePic : "/images/default-avatar.png"), alt="Profile Picture")
          h2 #{user.Username}
          p Email: #{user.Email}
          p University ID: #{user.UniversityID}
          p Credibility Score: #{user.CredibilityScore}
          p Registered On: #{user.RegistrationDate}
          a.btn(href="/supportrequests?user=" + user.UserID) View Support Requests

          // Profile picture upload form
          form(method="post", action="/users/" + user.UserID + "/upload", enctype="multipart/form-data")
            input(type="file", name="profilePic", accept="image/*", required)
            button(type="submit") Upload Picture
  else
    p No users available.
